In [5]:
#pip install selenium

In [171]:
# importing all libraries
import selenium
import pandas as pd
from selenium import webdriver

# 1. scrapping first 10 data analyst jobs in bangalore

In [172]:
# connect to web driver
driver=webdriver.Chrome('chromedriver.exe')

In [8]:
# connect to website using web driver
driver.get('http://www.naukri.com')

In [9]:
# searching for key words
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Analyst')
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')

In [10]:
search_but=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_but.click()

In [11]:
# specifying the url of the web page to be scrapped
url='https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore'

In [12]:
#lets open webpage from web driver
driver.get(url)

In [13]:
# creating empty lists to append scrapped data
job_title=[]
job_loc=[]
company_name=[]
experience_req=[]

In [14]:
# scraping job titles
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="5c27c843d69dc2ac3b7f8e8a2767bd64", element="e1673160-95a0-46e6-a0cd-728102bef63d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c27c843d69dc2ac3b7f8e8a2767bd64", element="9909ed9b-84c7-4fc3-9d12-2a593f4fd558")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c27c843d69dc2ac3b7f8e8a2767bd64", element="b3295af9-3300-4dae-86bf-55bffe231ec6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c27c843d69dc2ac3b7f8e8a2767bd64", element="aa88f82f-c8c2-4c64-8161-9e3d22da0134")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c27c843d69dc2ac3b7f8e8a2767bd64", element="24a5a34a-8152-419b-9b8c-a232d2f948ed")>]

In [15]:
# extracting text from above tags

for i in title_tags:
    title=i.text
    job_title.append(title)
    
job_title[0:5]

['MIS/ Data Analyst-(SQL,Automation,Excel/PowerBI,Dashboards) - Contract',
 'Data Analyst - SAP',
 'Senior Data Analyst',
 'Security Data Analyst',
 'Data Analyst -Azure Data lake, Azure Data factory']

In [24]:
# scrapping job location
loc_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
loc_tag[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="5c27c843d69dc2ac3b7f8e8a2767bd64", element="4224a021-ec1a-4c98-893b-5d8767a0497c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c27c843d69dc2ac3b7f8e8a2767bd64", element="ad155931-9cd3-42ae-824a-1d4a632eaa9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c27c843d69dc2ac3b7f8e8a2767bd64", element="bc8d782f-df80-4b7a-8070-3380643396c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c27c843d69dc2ac3b7f8e8a2767bd64", element="b3d34df4-a3ae-4974-b143-08bfb8051caf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c27c843d69dc2ac3b7f8e8a2767bd64", element="d491ed10-9d3c-4c6a-a023-d0d1d68b3de6")>]

In [26]:
for i in loc_tag:
    location=i.text
    job_loc.append(location)
    
    
job_loc[0:5]

['Bengaluru',
 'Pune, Delhi, Bengaluru, Gurgaon',
 'Bengaluru / Bangalore',
 'Bengaluru',
 'Chennai, Pune, Bengaluru, Hyderabad']

In [29]:
# scrapping company names

company_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="5c27c843d69dc2ac3b7f8e8a2767bd64", element="b0b37317-24be-4d4c-bdcd-5214621a1a35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c27c843d69dc2ac3b7f8e8a2767bd64", element="16b959a0-a71d-4cfc-a2d4-e2bcb514cc71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c27c843d69dc2ac3b7f8e8a2767bd64", element="e8d952fd-b9b4-44dc-a5bf-81880cdb9193")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c27c843d69dc2ac3b7f8e8a2767bd64", element="f029b396-7c92-4641-9bfe-a8238c647f09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c27c843d69dc2ac3b7f8e8a2767bd64", element="a4749393-59c7-4741-9cb2-92e6f1a0df40")>]

In [31]:
for i in company_tag:
    company=i.text
    company_name.append(company)
    
company_name[0:5]

['Flipkart Internet Private Limited',
 'Boston Scientific Corporation',
 'Schneider Electric',
 'Philips India Limited',
 'Mindtree Limited']

In [34]:
# scrapping experince

exp_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
exp_tag[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="5c27c843d69dc2ac3b7f8e8a2767bd64", element="1892af25-7849-470b-9060-e199ee1bcd7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c27c843d69dc2ac3b7f8e8a2767bd64", element="7e221311-47af-4673-9f2b-7dc2b1c7e069")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c27c843d69dc2ac3b7f8e8a2767bd64", element="5917d91e-210b-44c7-a5d5-018d9d0f0e18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c27c843d69dc2ac3b7f8e8a2767bd64", element="a66644c3-3cf1-4efc-9cdd-18f9e5a03ff2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c27c843d69dc2ac3b7f8e8a2767bd64", element="0e549478-7677-4ea0-aa90-1337b8b92b33")>]

In [36]:
for i in exp_tag:
    exp=i.text
    experience_req.append(exp)
    
experience_req[0:5]

['1-4 Yrs', '3-5 Yrs', '2-5 Yrs', '2-4 Yrs', '5-9 Yrs']

In [39]:
print(len(job_title),len(job_loc),len(company_name),len(experience_req))

20 40 40 40

In [40]:
# Top 10 data analyst jobs in bangalore

jobs=pd.DataFrame({})
jobs['Titles']=job_title[0:10]
jobs['Location']=job_loc[0:10]
jobs['Company']=company_name[0:10]
jobs['Experience_required']=experience_req[0:10]

In [41]:
jobs

,Titles,Location,Company,Experience_required
0,"MIS/ Data Analyst-(SQL,Automation,Excel/PowerB...",Bengaluru,Flipkart Internet Private Limited,1-4 Yrs
1,Data Analyst - SAP,"Pune, Delhi, Bengaluru, Gurgaon",Boston Scientific Corporation,3-5 Yrs
2,Senior Data Analyst,Bengaluru / Bangalore,Schneider Electric,2-5 Yrs
3,Security Data Analyst,Bengaluru,Philips India Limited,2-4 Yrs
4,"Data Analyst -Azure Data lake, Azure Data factory","Chennai, Pune, Bengaluru, Hyderabad",Mindtree Limited,5-9 Yrs
5,Business / Data Analyst,Bengaluru,IBM India Pvt. Limited,2-4 Yrs
6,Data Analyst - O2C - Bangalore,Bengaluru,RANDSTAD INDIA PVT LTD,2-4 Yrs
7,Intern Data Analyst,Bengaluru,Outsource Big Data,0-1 Yrs
8,NiFi Data Analyst,Bengaluru,Capgemini Technology Services India Limited,4-6 Yrs
9,Requirement For Data Analyst(Advance excel can...,"Chennai, Bengaluru",Emagine People Technologies Private Limited,0-2 Yrs

# 2. scrapping full job description

In [107]:
# connect to website using web driver
driver.get('http://www.naukri.com')

In [108]:
# searching for key words
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')

In [109]:
search_but=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_but.click()

In [110]:
url='https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore'

In [111]:
#lets open webpage from web driver
driver.get(url)

In [112]:
# creating empty lists to append scrapped data
job_title=[]
job_loc=[]
company_name=[]
experience_req=[]
job_description=[]

In [113]:
# scraping job titles
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="e8c6d993-027e-483f-8d7b-6a80ce9ddef6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="48d15d65-0008-45a2-8212-f835ec32cf0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="8a681e06-7de9-49a1-bfcb-4d36cc9c95be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="0ba34cb6-c092-46fd-9cd2-ab8a7c1ddcff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="7529a30d-e539-4a2c-a4ec-8a3b699bbc72")>]

In [114]:
# extracting text from above tags

for i in title_tags:
    title=i.text
    job_title.append(title)
    
job_title[0:5]

['Data Scientist/Data Analyst-immediate',
 'Data Scientist - Python/ MATLAB/ Machine Learning Algorithms',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Data Scientist - Machine Learning (Commerce BU)',
 'Opening For Sr. Data Scientist @ Tech Mahindra']

In [115]:
# scrapping job location
loc_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
loc_tag[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="09e09a6b-da79-4b55-9946-8b004f3af6c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="1e8448d3-09d6-4ef7-8bf4-0871917fea96")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="13d9ab03-d180-4c3f-b75b-0e1514368e42")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="30a856c8-be77-410d-b060-edfa2df4c924")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="1808202a-f226-4273-90ce-1ffb2a8ba6c7")>]

In [116]:
for i in loc_tag:
    location=i.text
    job_loc.append(location)
    
    
job_loc[0:5]

['Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Pune, Bengaluru']

In [117]:
# scrapping company names

company_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="f572cf3a-4a23-4db9-8b5f-9d6e6b2b577b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="73c02ae5-6b0e-4d94-ae64-ca1b20858581")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="a697cdd6-470b-44a1-8973-9660dc18494d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="062ce1b9-0d93-4030-9010-ab4c4f3d5500")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="c56fddc5-3b8d-4a6e-8cd7-141b7b389455")>]

In [118]:
for i in company_tag:
    company=i.text
    company_name.append(company)
    
company_name[0:5]

['Inflexion Analytix Private Limited',
 'Wrackle Technologies Pvt Ltd',
 'Wrackle Technologies Pvt Ltd',
 'BLUE YONDER INDIA PRIVATE LIMITED',
 'Tech Mahindra Ltd.']

In [119]:
# scrapping experince

exp_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
exp_tag[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="6f78bf9e-eb91-4b15-aa5e-7a2860f2479d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="63b2b84b-a07a-4008-b68a-b2f6e8b38f38")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="88f929dc-6181-4133-a0fc-442101521010")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="b21bd7db-4e60-4e4a-8dec-a8a6baf483c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="b3e6136c-a564-4b90-9e95-4a537d9618b0")>]

In [120]:
for i in exp_tag:
    exp=i.text
    experience_req.append(exp)
    
experience_req[0:5]

['0-2 Yrs', '3-8 Yrs', '6-11 Yrs', '2-7 Yrs', '12-20 Yrs']

In [121]:
desc_tag=driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")
desc_tag[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="1f9b7397-d1de-423c-a1f3-406b9e87ba92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="546f2a3f-01dd-4872-85de-9709d46cec01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="07be591f-e47d-4c12-acbc-6fbf06ae1be1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="8467c7ef-014b-46b0-9887-c4c4375d2efe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="c27c0e7f-28c2-4590-b9a2-71bed9c1ba4d")>]

In [122]:
for i in desc_tag:
    desc=i.click()

In [123]:
url=['https://www.naukri.com/job-listings-data-scientist-data-analyst-immediate-inflexion-analytix-private-limited-chennai-pune-bengaluru-bangalore-hyderabad-secunderabad-0-to-2-years-160221001218?src=jobsearchDesk&sid=16136320822119881&xp=1&px=1',
    'https://www.naukri.com/job-listings-data-scientist-data-analyst-immediate-inflexion-analytix-private-limited-chennai-pune-bengaluru-bangalore-hyderabad-secunderabad-0-to-2-years-160221001218?src=jobsearchDesk&sid=16136320822119881&xp=1&px=1',
    'https://www.naukri.com/job-listings-data-scientist-data-analyst-immediate-inflexion-analytix-private-limited-chennai-pune-bengaluru-bangalore-hyderabad-secunderabad-0-to-2-years-160221001218?src=jobsearchDesk&sid=16136320822119881&xp=1&px=1',
    'https://www.naukri.com/job-listings-data-scientist-python-matlab-machine-learning-algorithms-wrackle-technologies-pvt-ltd-bengaluru-bangalore-3-to-8-years-080221905947?src=jobsearchDesk&sid=16136320822119881&xp=2&px=1',
    'https://www.naukri.com/job-listings-lead-data-scientist-machine-learning-data-mining-wrackle-technologies-pvt-ltd-bengaluru-bangalore-6-to-11-years-080221900886?src=jobsearchDesk&sid=16136320822119881&xp=3&px=1',
    'https://www.naukri.com/job-listings-opening-for-sr-data-scientist-tech-mahindra-tech-mahindra-ltd-pune-bengaluru-bangalore-12-to-20-years-100221001125?src=jobsearchDesk&sid=16136320822119881&xp=5&px=1',
    'https://www.naukri.com/job-listings-opening-for-sr-data-scientist-tech-mahindra-tech-mahindra-ltd-pune-bengaluru-bangalore-12-to-20-years-090221006526?src=jobsearchDesk&sid=16136320822119881&xp=6&px=1',
    'https://www.naukri.com/job-listings-senior-data-scientist-nlp-python-r-avi-consulting-llp-bengaluru-bangalore-hyderabad-secunderabad-4-to-9-years-081220907155?src=jobsearchDesk&sid=16136320822119881&xp=7&px=1',
    'https://www.naukri.com/job-listings-senior-data-scientist-ces-it-ltd-cmmi-level-5-ces-ltd-chennai-pune-delhi-ncr-mumbai-bengaluru-bangalore-hyderabad-secunderabad-kolkata-2-to-7-years-151220006902?src=jobsearchDesk&sid=16136320822119881&xp=8&px=1']

In [124]:
for i in url[0:5]:
    driver.get(i)
    desc=driver.find_element_by_xpath("//div[@class='dang-inner-html']").text
    desc=desc.strip()
    job_description.append(desc)

job_description

['Job description\nDear Candidate\nSchedule a Telephonic Interview ( Please call for confirmation) : Mon- Sat from 11:00am to 5:00pm only.\nOR Walk-In to the Corporate office between Monday to Friday from 11:00am to 5:00pm\nContact person :\n\nManigandan -+91 7299917200\nShantha +91 9790993237\nAishwaria 9427329576\nGreetings from CAIA !\nA great opportunity to enter the world of future technologies - Data Science, Analytics, AI, Data Visualization\nApplications invited from all Freshers and experienced candidates aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.\nIn case you are trying to shift your career to Analytics and/or AI domain please do connect with us to know more.\nWhat is needed from you?\n- An Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Maths and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA\n- Skills relating to Mathematics/Statistics.\n- Natural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualization\n- Good verbal and written communication skills\n- Ability to understand domains in businesses across various sectors\n- Freshers who wish to start their career in Analytics and AI and professionals who wish to up skill or change their domain to analytics and emerging technologies are free to apply.\nSelection procedure includes\n- Online Aptitude Test\n- Logical Ability Test / Written Test\nOn being shortlisted, you will be have to undergo a one-one discussion with our counsellor for further evaluation and processing of your Resume.\nWhat you can expect from us?\nYou will get trained on the following modules for a period of 12-14 weeks:\n-SQL & PLSQL\n-Data Wrangling using Python\n-Statistics for Machine Learning,\n-Artificial Intelligence, Data Interpretation\n-Supervised & Unsupervised Learning,\n-NLP & Deep Learning\n-Cloud Data Lake\n-Business intelligence & Data Visualization\n-Simulation Projects\nWhat is the expected Outcome?\nAt the end of the Training you are expected to be well versed with the following:\n- Analysis of large and complex data sets from multiple sources\n- Development and evaluation of data analytics models, algorithms and solutions\n- Understanding/implementation of ML algorithms, performance tuning and reporting\n- Implementation of algorithms to mine targeted data and the ability to convert data into a business story\n- Translation of business requirements into technical requirements; Data extraction, preparation and transformation\n- Identification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organisation\n- Requirement Analysis and communication of findings in the form of a meaningful story with the stakeholders\nCenter for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:\n1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics\n2. Advanced Training programs for readying the future ready workforce\n3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science.\nhttp://www.centerforaia.com/\nCenter for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay. Digital leaders 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advanced Analytics solutions for Fortune 500 companies through specialized programmed.\n5F World\n5F World is a leader in digital transformational journeys and has brought together the best minds in industry, academia and technology domains to develop a unique framework to transform stakeholder journeys through innovation and digitalization of businesses and education institutions.\nSystech Solutions\nSystech Solutions is a leading organisation in Data Strategy, Management & Analytics services provider with deep technology expertise and over 20 years of industry experience. Systech Solutions helps empower clients with innovative, data-driven solutions to reimagine their enterprise and has forged partnerships with industry-leading technology providers to develop a full spectrum of data services.\n\nWebsite\nhttp://www.centerforaia.com/\n\nhttps://inflexion-analytix-private-limited.business.site/?m=true\n\n\n\nContact Person\nManigandan /Shantha/Aishwaria\nPhone Number\n7299917200/ 9790993237 / 9427329576\nEmail\nmanigandan@centerforaia.com',
 'Job description\nDear Candidate\nSchedule a Telephonic Interview ( Please call for confirmation) : Mon- Sat from 11:00am to 5:00pm only.\nOR Walk-In to the Corporate office between Monday to Friday from 11:00am to 5:00pm\nContact person :\n\nManigandan -+91 7299917200\nShantha +91 9790993237\nAishwaria 9427329576\nGreetings from CAIA !\nA great opportunity to enter the world of future technologies - Data Science, Analytics, AI, Data Visualization\nApplications invited from all Freshers and experienced candidates aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.\nIn case you are trying to shift your career to Analytics and/or AI domain please do connect with us to know more.\nWhat is needed from you?\n- An Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Maths and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA\n- Skills relating to Mathematics/Statistics.\n- Natural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualization\n- Good verbal and written communication skills\n- Ability to understand domains in businesses across various sectors\n- Freshers who wish to start their career in Analytics and AI and professionals who wish to up skill or change their domain to analytics and emerging technologies are free to apply.\nSelection procedure includes\n- Online Aptitude Test\n- Logical Ability Test / Written Test\nOn being shortlisted, you will be have to undergo a one-one discussion with our counsellor for further evaluation and processing of your Resume.\nWhat you can expect from us?\nYou will get trained on the following modules for a period of 12-14 weeks:\n-SQL & PLSQL\n-Data Wrangling using Python\n-Statistics for Machine Learning,\n-Artificial Intelligence, Data Interpretation\n-Supervised & Unsupervised Learning,\n-NLP & Deep Learning\n-Cloud Data Lake\n-Business intelligence & Data Visualization\n-Simulation Projects\nWhat is the expected Outcome?\nAt the end of the Training you are expected to be well versed with the following:\n- Analysis of large and complex data sets from multiple sources\n- Development and evaluation of data analytics models, algorithms and solutions\n- Understanding/implementation of ML algorithms, performance tuning and reporting\n- Implementation of algorithms to mine targeted data and the ability to convert data into a business story\n- Translation of business requirements into technical requirements; Data extraction, preparation and transformation\n- Identification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organisation\n- Requirement Analysis and communication of findings in the form of a meaningful story with the stakeholders\nCenter for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:\n1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics\n2. Advanced Training programs for readying the future ready workforce\n3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science.\nhttp://www.centerforaia.com/\nCenter for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay. Digital leaders 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advanced Analytics solutions for Fortune 500 companies through specialized programmed.\n5F World\n5F World is a leader in digital transformational journeys and has brought together the best minds in industry, academia and technology domains to develop a unique framework to transform stakeholder journeys through innovation and digitalization of businesses and education institutions.\nSystech Solutions\nSystech Solutions is a leading organisation in Data Strategy, Management & Analytics services provider with deep technology expertise and over 20 years of industry experience. Systech Solutions helps empower clients with innovative, data-driven solutions to reimagine their enterprise and has forged partnerships with industry-leading technology providers to develop a full spectrum of data services.\n\nWebsite\nhttp://www.centerforaia.com/\n\nhttps://inflexion-analytix-private-limited.business.site/?m=true\n\n\n\nContact Person\nManigandan /Shantha/Aishwaria\nPhone Number\n7299917200/ 9790993237 / 9427329576\nEmail\nmanigandan@centerforaia.com',
 'Job description\nDear Candidate\nSchedule a Telephonic Interview ( Please call for confirmation) : Mon- Sat from 11:00am to 5:00pm only.\nOR Walk-In to the Corporate office between Monday to Friday from 11:00am to 5:00pm\nContact person :\n\nManigandan -+91 7299917200\nShantha +91 9790993237\nAishwaria 9427329576\nGreetings from CAIA !\nA great opportunity to enter the world of future technologies - Data Science, Analytics, AI, Data Visualization\nApplications invited from all Freshers and experienced candidates aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.\nIn case you are trying to shift your career to Analytics and/or AI domain please do connect with us to know more.\nWhat is needed from you?\n- An Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Maths and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA\n- Skills relating to Mathematics/Statistics.\n- Natural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualization\n- Good verbal and written communication skills\n- Ability to understand domains in businesses across various sectors\n- Freshers who wish to start their career in Analytics and AI and professionals who wish to up skill or change their domain to analytics and emerging technologies are free to apply.\nSelection procedure includes\n- Online Aptitude Test\n- Logical Ability Test / Written Test\nOn being shortlisted, you will be have to undergo a one-one discussion with our counsellor for further evaluation and processing of your Resume.\nWhat you can expect from us?\nYou will get trained on the following modules for a period of 12-14 weeks:\n-SQL & PLSQL\n-Data Wrangling using Python\n-Statistics for Machine Learning,\n-Artificial Intelligence, Data Interpretation\n-Supervised & Unsupervised Learning,\n-NLP & Deep Learning\n-Cloud Data Lake\n-Business intelligence & Data Visualization\n-Simulation Projects\nWhat is the expected Outcome?\nAt the end of the Training you are expected to be well versed with the following:\n- Analysis of large and complex data sets from multiple sources\n- Development and evaluation of data analytics models, algorithms and solutions\n- Understanding/implementation of ML algorithms, performance tuning and reporting\n- Implementation of algorithms to mine targeted data and the ability to convert data into a business story\n- Translation of business requirements into technical requirements; Data extraction, preparation and transformation\n- Identification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organisation\n- Requirement Analysis and communication of findings in the form of a meaningful story with the stakeholders\nCenter for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:\n1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics\n2. Advanced Training programs for readying the future ready workforce\n3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science.\nhttp://www.centerforaia.com/\nCenter for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay. Digital leaders 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advanced Analytics solutions for Fortune 500 companies through specialized programmed.\n5F World\n5F World is a leader in digital transformational journeys and has brought together the best minds in industry, academia and technology domains to develop a unique framework to transform stakeholder journeys through innovation and digitalization of businesses and education institutions.\nSystech Solutions\nSystech Solutions is a leading organisation in Data Strategy, Management & Analytics services provider with deep technology expertise and over 20 years of industry experience. Systech Solutions helps empower clients with innovative, data-driven solutions to reimagine their enterprise and has forged partnerships with industry-leading technology providers to develop a full spectrum of data services.\n\nWebsite\nhttp://www.centerforaia.com/\n\nhttps://inflexion-analytix-private-limited.business.site/?m=true\n\n\n\nContact Person\nManigandan /Shantha/Aishwaria\nPhone Number\n7299917200/ 9790993237 / 9427329576\nEmail\nmanigandan@centerforaia.com',
 'Data Scientist - Data Mining/ Machine Learning/ Statistical Analysis\n\nRequirements :\n\n- 3-9 years of strong experience in data mining, machine learning, and statistical analysis.\n\n- BS/MS/Ph.D. in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply)\n\n- Ability to lead and deliver in a fast-paced start-up environment.\n\n- Fluency in tools such as Matlab, Python, etc.\n\n- Strong intuition for data and Keen aptitude on large scale data analysis\n\n- Excellent written and verbal communication skills.\n\n- Ability to collaborate across teams and strong interpersonal skills.',
 'Roles and Responsibilities\nRequirements :\n\n- 6-9 years of strong experience in data mining, machine learning and statistical analysis.\n\n- BS/ MS/ PhD in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply)\n\n- Ability to lead and deliver in a fast-paced start-up environment.\n\n- Fluency in tools such as Python/ R/ Matlab etc.\n\n- Strong intuition for data and Keen aptitude on large scale data analysis\n\n- Excellent written and verbal communication skills.\n\n- Ability to collaborate across teams and strong interpersonal skills.']

In [126]:
# Top 10 data analyst jobs in bangalore

jobs=pd.DataFrame({})
jobs['Titles']=job_title[0:5]
jobs['Location']=job_loc[0:5]
jobs['Company']=company_name[0:5]
jobs['Experience_required']=experience_req[0:5]
jobs['job_description']=job_description[0:5]

In [127]:
jobs

,Titles,Location,Company,Experience_required,job_description
0,Data Scientist/Data Analyst-immediate,"Chennai, Pune, Bengaluru, Hyderabad",Inflexion Analytix Private Limited,0-2 Yrs,Job description\nDear Candidate\nSchedule a Te...
1,Data Scientist - Python/ MATLAB/ Machine Learn...,Bengaluru,Wrackle Technologies Pvt Ltd,3-8 Yrs,Job description\nDear Candidate\nSchedule a Te...
2,Lead Data Scientist - Machine Learning/ Data M...,Bengaluru,Wrackle Technologies Pvt Ltd,6-11 Yrs,Job description\nDear Candidate\nSchedule a Te...
3,Data Scientist - Machine Learning (Commerce BU),Bengaluru,BLUE YONDER INDIA PRIVATE LIMITED,2-7 Yrs,Data Scientist - Data Mining/ Machine Learning...
4,Opening For Sr. Data Scientist @ Tech Mahindra,"Pune, Bengaluru",Tech Mahindra Ltd.,12-20 Yrs,Roles and Responsibilities\nRequirements :\n\n...

# 3 scrapping of datascientist jobs apply filter location and salary

In [35]:
# connect to website using web driver
driver.get('http://www.naukri.com')

In [36]:
# searching for key words
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')

In [37]:
#searching button
search=driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [38]:
search.click()

In [40]:
# filtering for delhi ncr
tik_loc=driver.find_element_by_xpath("//div[@data-filter-id='cities']/div[2]")

In [41]:
tik_loc.click()

In [42]:
#filter for salary 3-6 lakhs
tik_sal=driver.find_element_by_xpath("//div[2][@data-filter-id='salaryRange']/div[2]")

In [43]:
tik_sal.click()

In [45]:
# specifying url of the webpage to be scraped
ur='https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityType=25.9.31&ctcFilter=3to6'

In [46]:
# open webpage with web driver
driver.get(ur)

In [47]:
# creating empty lists to append scrapped data
job_title=[]
job_loc=[]
company_name=[]
experience_req=[]

In [48]:
# scraping job titles
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="f2c2059913df7b0b0fc69ac617c6e92b", element="3f6b2149-c912-454b-9422-e1d7adf84969")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2c2059913df7b0b0fc69ac617c6e92b", element="49b8c6f1-f1d1-41f5-b343-8d60fd23ca2b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2c2059913df7b0b0fc69ac617c6e92b", element="68d2531f-f6ed-4597-b969-581ddbf6f161")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2c2059913df7b0b0fc69ac617c6e92b", element="fdaecf3e-6cf1-4223-af8a-1c5d30c7db1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2c2059913df7b0b0fc69ac617c6e92b", element="e9dbd460-f365-4821-89f9-15e024ff8a58")>]

In [49]:
# extracting text from above tags

for i in title_tags:
    title=i.text
    job_title.append(title)
    
job_title[0:5]

['Data Scientist',
 'Data Scientist',
 'Senior Data Scientist - Computer Vision',
 'Data Scientist - Machine Learning/ NLP',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC']

In [50]:
# scrapping job location
loc_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
loc_tag[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="f2c2059913df7b0b0fc69ac617c6e92b", element="2b40e5fc-b5bc-451b-afac-3187550cb661")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2c2059913df7b0b0fc69ac617c6e92b", element="623709d7-3ac2-4eb3-834f-ac2cfb03e8a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2c2059913df7b0b0fc69ac617c6e92b", element="0c47a0b1-3c85-4b78-960d-c52c4b85650d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2c2059913df7b0b0fc69ac617c6e92b", element="7c54e25c-a2ee-4abf-958d-82d6ac2ec55e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2c2059913df7b0b0fc69ac617c6e92b", element="97617f60-c553-4731-aa20-9dfd84d497bb")>]

In [51]:
for i in loc_tag:
    location=i.text
    job_loc.append(location)
    
    
job_loc[0:5]

['Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Bengaluru, Gurgaon, Agra, Bharuch, Jaunpur, Nagpur, Delhi, Mumbai, Jaipur, Jhansi',
 'Gurgaon Gurugram',
 'Delhi NCR',
 'Gurgaon Gurugram',
 'Delhi NCR, Noida, Gurgaon']

In [52]:
# scrapping company names

company_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="f2c2059913df7b0b0fc69ac617c6e92b", element="372c286a-03be-427d-a65b-606a66ea11a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2c2059913df7b0b0fc69ac617c6e92b", element="4678f4ad-48f6-458e-ba7f-34f88b844101")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2c2059913df7b0b0fc69ac617c6e92b", element="9f6c711f-4ba7-44f8-b1df-d591b621faf9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2c2059913df7b0b0fc69ac617c6e92b", element="a38406f4-5738-4ec3-adc8-be805e63115e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2c2059913df7b0b0fc69ac617c6e92b", element="67ab6d2a-31f4-4eb9-9b15-ed72878863d4")>]

In [53]:
for i in company_tag:
    company=i.text
    company_name.append(company)
    
company_name[0:5]

['Country Veggie',
 'IBM India Pvt. Limited',
 'IRIS SOFTWARE Inc',
 'TalPro',
 'GABA Consultancy services']

In [54]:
# scrapping experince

exp_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
exp_tag[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="f2c2059913df7b0b0fc69ac617c6e92b", element="4810e627-0291-49ba-bd1f-bf88c5d4046f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2c2059913df7b0b0fc69ac617c6e92b", element="19c0475b-cb3a-4603-84a6-1fb0ed643594")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2c2059913df7b0b0fc69ac617c6e92b", element="91c17558-c5c7-4de9-b78c-e3084504a02f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2c2059913df7b0b0fc69ac617c6e92b", element="f329b797-479c-4f30-9b29-15c57a2c70ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f2c2059913df7b0b0fc69ac617c6e92b", element="4645c3ee-7238-48c7-b90c-7f3a997c1b05")>]

In [55]:
for i in exp_tag:
    exp=i.text
    experience_req.append(exp)
    
experience_req[0:5]

['1-3 Yrs', '4-8 Yrs', '4-9 Yrs', '2-6 Yrs', '0-0 Yrs']

In [56]:
print(len(job_title),len(job_loc),len(company_name),len(experience_req))

20 20 20 20

In [57]:
# Top 10 data analyst jobs delhi/NCR and 3 to 6 lakhs salary

jobs=pd.DataFrame({})
jobs['Titles']=job_title[0:10]
jobs['Location']=job_loc[0:10]
jobs['Company']=company_name[0:10]
jobs['Experience_required']=experience_req[0:10]

In [58]:
jobs

,Titles,Location,Company,Experience_required
0,Data Scientist,"Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Be...",Country Veggie,1-3 Yrs
1,Data Scientist,Gurgaon Gurugram,IBM India Pvt. Limited,4-8 Yrs
2,Senior Data Scientist - Computer Vision,Delhi NCR,IRIS SOFTWARE Inc,4-9 Yrs
3,Data Scientist - Machine Learning/ NLP,Gurgaon Gurugram,TalPro,2-6 Yrs
4,Only Fresher / Data Scientist / Data Analyst /...,"Delhi NCR, Noida, Gurgaon",GABA Consultancy services,0-0 Yrs
5,Data Scientist - Tableau/Power BI,Delhi,Talent Stock Solutions,1-3 Yrs
6,GCP Skilled Analytics Resources (Data engineer...,"Pune, Bengaluru, Gurgaon",Aerial Telecom Solutions Pvt. Ltd.,3-8 Yrs
7,Data Scientist - Python/Machine Learning,Noida,Jubna,5-8 Yrs
8,Data Scientist - IT,Gurgaon,Ehireo,4-9 Yrs
9,Data Scientist Machine Learning,Gurgaon,Delhivery,1-3 Yrs

# 6  Scrape data of first 100 sunglasses listings on flipkart

In [282]:
driver.get('https://www.flipkart.com/')

In [283]:
prod=driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")

In [284]:
prod.send_keys('sunglasess')

In [285]:
search=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [286]:
search.submit()

In [287]:
ur='https://www.flipkart.com/search?q=sunglasess&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'

In [288]:
driver.get(ur)

In [289]:
brand=[]
description=[]
price=[]
discount=[]

In [290]:
brand_tag=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

In [291]:
brand_tag[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="13662719-e593-431f-9a7d-c35edb0d2b7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="9fce3c20-1247-4f36-91a4-c1a79ac852c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="85ba2d38-18da-4871-a225-ad68b8ad9477")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="acdb6e4e-44f4-4be9-a2d0-48c0b50e3b36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="aee0d2bf-38e2-45ff-9d4d-e4f2e2388e3f")>]

In [292]:
for i in brand_tag:
    item=i.text
    
    brand.append(item)

In [293]:
brand[0:5]

['Royal Son', 'Aislin', 'Fastrack', 'Fastrack', 'PIRASO']

In [294]:
desc_tag=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")

In [295]:
desc_tag[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="6c4ef54f-8a49-4fa1-bdd6-229bb7ba5f57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="d39cc9bc-0452-48cf-b277-f9d58f17f06f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="b367d917-5d4a-4030-b28c-30c560f609ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="8f0048be-1f40-4d15-843b-189496c64011")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="85614895-06ca-45e1-993d-530a92a00a73")>]

In [296]:
for i in desc_tag:
    item=i.text
    
    description.append(item)
    
description[0:5]

['UV Protection Retro Square Sunglasses (49)',
 'Polarized, UV Protection Wayfarer Sunglasses (56)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)']

In [297]:
price_tag=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

In [298]:
price_tag[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="8349659b-f31f-48c2-9329-266efb9d5fa0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="98cfa93e-94f8-48a5-970f-e9261cf232b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="b447a102-6ff9-4838-ad7d-a004600e67a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="8174f2fb-a81b-49ae-b7a5-fcc0695ac395")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="f5e4e008-a189-4839-bff4-39fb4620f5d1")>]

In [299]:
for i in price_tag:
    item=i.text
    
    price.append(item)
    
price[0:5]

['664', '946', '596', '499', '314']

In [300]:
disc_tag=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

In [301]:
disc_tag[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="62decef8-c8d8-4db3-b5df-9b9d3177e256")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="4299d943-1fd9-4b60-b530-0c8416d917f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="5a377393-0245-4dce-826e-019c370e2642")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="073fdea2-573a-4984-ac80-41e2640d2e85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="13c244bf-e46a-439f-bc50-2619cac50acf")>]

In [302]:
for i in disc_tag:
    item=i.text
    
    discount.append(item)
    
discount[0:5]

['66% off', '77% off', '25% off', '37% off', '80% off']

In [303]:
# moving to next page
next_p=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[2]")

In [304]:
next_p.click()

In [305]:
u='https://www.flipkart.com/search?q=sunglasess&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2'

In [306]:
driver.get(u)

In [307]:
brand_ta=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_ta[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="b8d2bf69-c485-46f3-888e-9e4e96141ce6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="f282da8f-966a-4a55-a597-fb7f8e0e6a24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="a7a0bca1-7088-4b6a-88c5-658bb3ff0dab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="cef6da5b-7215-478a-bf61-8df44a0e93a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="7ee338f5-006a-4086-9694-01e8333225bc")>]

In [308]:
for i in brand_ta:
    item=i.text
    
    brand.append(item)
    
brand[40:45]

['Fastrack', 'hipe', 'Aislin', 'Royal Son', 'Phenomenal']

In [309]:
desc_tag=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")

In [310]:
desc_tag[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="99369557-dc62-42a8-b0ab-d06e4a4e30d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="810e86ee-7cc8-4847-80c9-56ef656580dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="9c7c57a6-3f2b-4ce1-a10d-d24ce7c64ed0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="c33a3af4-b371-4087-9c62-ad11b7f11661")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="7841ae3c-c1e1-44bd-a267-55a1dd7f0480")>]

In [311]:
for i in desc_tag:
    item=i.text
    
    description.append(item)
    
description[40:45]

['UV Protection Round Sunglasses (52)',
 'UV Protection, Mirrored, Gradient, Riding Glasses Round...',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection Retro Square Sunglasses (49)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)']

In [312]:
price_tag=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

In [313]:
for i in price_tag:
    item=i.text
    
    price.append(item)
    
price[40:45]

['909', '219', '450', '664', '399']

In [314]:
disc_tag=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

In [315]:
for i in disc_tag:
    item=i.text
    
    discount.append(item)
    
discount[40:45]

['30% off', '78% off', '70% off', '66% off', '80% off']

In [316]:
# moving to next page
next_p1=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[3]")

In [317]:
next_p1.click()

In [318]:
url='https://www.flipkart.com/search?q=sunglasess&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3'

In [319]:
driver.get(url)

In [320]:
brand_ta=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_ta[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="a22dc2ce-b1ad-481f-b79a-5c2127157f44")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="29e6aa62-ec4d-4916-9665-fcf906e1b7d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="bc5c688a-bc3e-405b-bf64-58fb54508741")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="ffd68e0a-9df9-407d-a0ea-f40d7f0b47c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2a9eb2159952daacc658f405a60eae", element="15a9a4ab-7105-459e-8ee2-5b9808b3641f")>]

In [321]:
for i in brand_ta:
    item=i.text
    
    brand.append(item)
    
brand[80:85]

['Fastrack', 'PIRASO', 'NuVew', 'Royal Son', 'Aislin']

In [322]:
desc_tag=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")

In [323]:
for i in desc_tag:
    item=i.text
    
    description.append(item)
    
description[80:85]

['UV Protection Retro Square Sunglasses (54)',
 'UV Protection Aviator Sunglasses (50)',
 'UV Protection, Night Vision, Riding Glasses Sports Sung...',
 'UV Protection Retro Square Sunglasses (49)',
 'UV Protection, Gradient Aviator Sunglasses (61)']

In [324]:
price_tag=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

In [325]:
for i in price_tag:
    item=i.text
    
    price.append(item)
    
price[80:85]

['629', '314', '282', '664', '545']

In [326]:
disc_tag=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

In [327]:
for i in disc_tag:
    item=i.text
    
    discount.append(item)
    
discount[80:85]

['30% off', '80% off', '64% off', '66% off', '74% off']

In [328]:
print(len(brand),len(description),len(price),len(discount))

120 120 120 120

In [329]:
##creating data frame
sunglasses=pd.DataFrame({})
sunglasses['Brand']=brand[0:100]
sunglasses["Product_description"]=description[0:100]
sunglasses['Price']=price[0:100]
sunglasses['Discount']=discount[0:100]

In [330]:
sunglasses

,Brand,Product_description,Price,Discount
0,Royal Son,UV Protection Retro Square Sunglasses (49),664,66% off
1,Aislin,"Polarized, UV Protection Wayfarer Sunglasses (56)",946,77% off
2,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",596,25% off
3,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",499,37% off
4,PIRASO,UV Protection Aviator Sunglasses (Free Size),314,80% off
...,...,...,...,...
95,United Colors of Benetton,UV Protection Retro Square Sunglasses (57),"1,560",60% off
96,Fossil,Mirrored Round Sunglasses (51),"2,200",50% off
97,Deixels,UV Protection Aviator Sunglasses (Free Size),189,83% off
98,United Colors of Benetton,Mirrored Rectangular Sunglasses (56),"1,640",60% off
99,Aislin,"Polarized, UV Protection Wayfarer, Retro Squar...",946,77% off

# 7 Scrapping reviews for  iphone 11

In [128]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [129]:
apple='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART'

In [130]:
# connect webpage with webdriver
driver.get(apple)

In [131]:
rating=[]
review_summery=[]
full_review=[]

In [132]:
# scrap ratings
rating_tag=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")

In [133]:
rating_tag[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="3be1f7d6-fbcd-4bc0-9c8f-4c01c3f6a699")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="08e644e2-3af5-4c4a-a33e-02a337dc885f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="d18abaf4-7679-4169-bc8b-a2f5ca7af8d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="5d733868-e895-4bb8-8f59-63411bc6eaa3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="20a0b2e5-f9c2-4b9f-905c-14ae470a7f8f")>]

In [134]:
#Extracting text
for i in rating_tag:
    rat=i.text
    rating.append(rat)
rating

['5', '5', '5', '5', '5', '5', '5', '5', '5', '4']

In [135]:
len(rating)

10

In [136]:
# scraping reviw summary
review_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

In [137]:
review_tag[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="d556cbcd-7098-42c4-85df-0cb2dfa2e309")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="4a01a7b3-eb5a-44e8-ab15-477375665561")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="e90136ab-71c3-4c2a-ba17-033983278072")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="0030f39a-c481-4489-abc7-a2be0d763924")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="7be7ff54-4e99-44a6-acea-5f21b801f56a")>]

In [138]:
#Extracting text
for i in review_tag:
    rew=i.text
    review_summery.append(rew)
review_summery

['Perfect product!',
 'Great product',
 'Highly recommended',
 'Perfect product!',
 'Brilliant',
 'Perfect product!',
 'Worth every penny',
 'Worth every penny',
 'Wonderful',
 'Nice product']

In [139]:
# scraping reviw summary
full_tag=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div")

In [140]:
full_tag[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="50300e0f-2942-4e0a-a8c9-f8d5ada6806b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="cccd5da8-cd1f-4ef6-a3e4-ec5f5b6b4f7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="f2057224-52fd-42ea-a503-6dc8bd404265")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="c4794183-d89f-4dc3-a9ce-bd37272e60d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="373dcd98-aafa-4549-a65d-2fdd36878567")>]

In [141]:
#Extracting text
for i in full_tag:
    ful=i.text
    full_review.append(ful)
full_review

['Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nIm am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDont think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nIve attached my puppy pics and no fi...\nREAD MORE',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'Its a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise its amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Value for money\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Best budget Iphone till date  go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, youll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy \n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'Its been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCant move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I dont get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE',
 '*Review after 10 months of usage*\nDoesn\'t seem bulky with decent touch and camera. The "standard maintained" quality of IPhone. Go for it, if your budget is not more enough for pro models. It\'s a value for money among the 11 series Stereo speakers are so good, you will love the stereo sound. Battery backup is not decent but still better than Iphone 7 and 8.Processor is fast, the phone doesn\'t lag at all even with heavy games, waterproof, faster face id and with no fingerprint scanners. The ca...\nREAD MORE',
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR.\nCamera is superb and wide angle camera is very clear.\n12MP selfie camera is also very good.\nA13 Chip gives a very good and smooth performance.']

In [142]:
len(full_review)

10

In [143]:
# creating dataframe

In [144]:
reviews=pd.DataFrame({})
reviews['Rating']=rating
reviews['Review']=review_summery
reviews['Full_review']=full_review

In [145]:
reviews

,Rating,Review,Full_review
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nIm am...
2,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
3,5,Perfect product!,Its a must buy who is looking for an upgrade ...
4,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
5,5,Perfect product!,Value for money\nIts awesome mobile phone ...
6,5,Worth every penny,Best budget Iphone till date go for it guys...
7,5,Worth every penny,Its been almost a month since I have been usi...
8,5,Wonderful,*Review after 10 months of usage*\nDoesn't see...
9,4,Nice product,Awesome Phone. Slightly high price but worth. ...

# 8 Scrapping first 100 sneakers from flipkart

In [413]:
driver.get('https://www.flipkart.com/')

In [414]:
prod=driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")

In [415]:
prod.send_keys('sneakers')

In [416]:
search=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [417]:
search.submit()

In [418]:
footwear='https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'

In [419]:
# connect to webpage through web driver
driver.get(footwear)

In [432]:
brand=[]
description=[]
price=[]
discount=[]

In [434]:
#scraping brand
brand_ta=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_ta[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="3450f4b08c443615a41e8efdb89f04cb", element="e00f0d14-e310-4ecf-9fb3-fcea9edc1b0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3450f4b08c443615a41e8efdb89f04cb", element="93febda7-5daa-4d43-817c-de68813a79f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3450f4b08c443615a41e8efdb89f04cb", element="cac3efc1-f017-4483-a2e7-d08802333d1c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3450f4b08c443615a41e8efdb89f04cb", element="1ec38854-9b5e-46e6-995a-d23cd08265b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3450f4b08c443615a41e8efdb89f04cb", element="bb4b775a-59b8-406f-8008-ab7be71bb6fe")>]

In [435]:
for i in brand_ta:
    item=i.text
    
    brand.append(item)
    
brand[0:5]

['Robbie jones', 'Rockfield', 'Chevit', 'Robbie jones', 'World Wear Footwear']

In [436]:
# Scrapping product description
desc_tag=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")

In [437]:
for i in desc_tag:
    item=i.text
    
    description.append(item)
    
description[0:5]

['Casual Sneakers Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...']

In [438]:
# scrapping price
price_tag=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

In [439]:
for i in price_tag:
    item=i.text
    
    price.append(item)
    
price[0:5]

['474', '474', '474', '379', '474']

In [440]:
# Scrapping discount 
disc_tag=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

In [441]:
for i in disc_tag:
    item=i.text
    
    discount.append(item)
    
discount[0:5]

['52% off', '52% off', '76% off', '62% off', '76% off']

In [442]:
len(discount)

40

In [443]:
# moving to next page
next_p=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[2]")

In [444]:
next_p.click()

In [445]:
page='https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2'

In [446]:
# connect webpage through web drivers
driver.get(page)

In [447]:
#scraping brand
brand_ta=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_ta[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="3450f4b08c443615a41e8efdb89f04cb", element="ab54b70f-e91d-40c5-b51d-807bfdda1c0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3450f4b08c443615a41e8efdb89f04cb", element="ecb38d9e-6bf3-4927-810a-b7058d8a2b93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3450f4b08c443615a41e8efdb89f04cb", element="9c42bf47-ddcc-405e-83ec-666be2ac4e9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3450f4b08c443615a41e8efdb89f04cb", element="f1571bc7-20b8-48ca-8032-acf1532bfc1e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3450f4b08c443615a41e8efdb89f04cb", element="32610138-5266-4f3b-af19-1b403baee2ec")>]

In [448]:
for i in brand_ta:
    item=i.text
    
    brand.append(item)
    
brand[40:45]

['ASTEROID', 'Lovehush', 'M K FOOTWEAR', 'Robbie jones', 'Chevit']

In [449]:
# Scrapping product description
desc_tag=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")

In [450]:
for i in desc_tag:
    item=i.text
    
    description.append(item)
    
description[40:45]

['Feather Print New Spring Season White Shoes Men Running...',
 "Men's Denim Casual Sneakers Jeans Shoes Sneakers For Me...",
 'M K Footwear 702_Tan Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 '169 Smart Sky Blue Lace-Ups Casuals for Men Sneakers Fo...']

In [451]:
# scrapping price
price_tag=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

In [452]:
for i in price_tag:
    item=i.text
    
    price.append(item)
    
price[40:45]

['379', '379', '359', '474', '236']

In [453]:
# Scrapping discount 
disc_tag=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

In [454]:
for i in disc_tag:
    item=i.text
    
    discount.append(item)
    
discount[40:45]

['62% off', '62% off', '64% off', '52% off', '52% off']

In [457]:
# moving to next page
next_p1=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[3]")

In [458]:
next_p1.click()

In [459]:
page_3='https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3'

In [460]:
#connect webpage through web drivers
driver.get(page_3)

In [461]:
#scraping brand
brand_ta=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_ta[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="3450f4b08c443615a41e8efdb89f04cb", element="9e2d31bb-dada-4236-9db8-df5616968b27")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3450f4b08c443615a41e8efdb89f04cb", element="7abd3df3-6152-4ad4-a7cf-3d165e8b0dd4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3450f4b08c443615a41e8efdb89f04cb", element="34e1f9dd-c3ad-4454-a2f2-9cd39a715e80")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3450f4b08c443615a41e8efdb89f04cb", element="11c2813f-7170-4d81-8ca8-e0dff1e3fd3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3450f4b08c443615a41e8efdb89f04cb", element="aa51647c-6d6d-4ccc-878e-2550ec3b397b")>]

In [462]:
for i in brand_ta:
    item=i.text
    
    brand.append(item)
    
brand[80:85]

['Creer', 'Oricum', 'Earton', 'Robbie jones', 'Zsyto']

In [463]:
# Scrapping product description
desc_tag=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")

In [464]:
for i in desc_tag:
    item=i.text
    
    description.append(item)
    
description[80:85]

['STYLISH Sneakers For Men',
 'ORIFWSH(OR)-1077 Sneakers For Men',
 'Combo pack of 2 shoes for men Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Sneakers For Men']

In [465]:
# scrapping price
price_tag=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

In [466]:
for i in price_tag:
    item=i.text
    
    price.append(item)
    
price[80:85]

['397', '214', '498', '474', '346']

In [467]:
# Scrapping discount 
disc_tag=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

In [468]:
for i in disc_tag:
    item=i.text
    
    discount.append(item)
    
discount[80:85]

['60% off', '57% off', '50% off', '52% off', '73% off']

In [469]:
print(len(brand),len(description),len(price),len(discount))

120 120 120 120

In [470]:
##creating data frame
sneakers=pd.DataFrame({})
sneakers['Brand']=brand[0:100]
sneakers["Product_description"]=description[0:100]
sneakers['Price']=price[0:100]
sneakers['Discount']=discount[0:100]

In [471]:
sneakers

,Brand,Product_description,Price,Discount
0,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,474,52% off
1,Rockfield,Sneakers For Men,474,52% off
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,474,76% off
3,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,379,62% off
4,World Wear Footwear,Combo Pack of 4 Latest Collection Stylish Casu...,474,76% off
...,...,...,...,...
95,Absolute comfort,COMBO-(2)-RWT Sneakers For Men,367,63% off
96,Kizaar,"Fashionable Casual, Canvas,official or Partywe...",450,54% off
97,Shoefly,Combo Men Pack of 2 Loafers Shoes Sneakers For...,367,63% off
98,WELDONE,3 Pair Combo Sneakers For Men,639,57% off
99,Magnolia,White Sneakers Sneakers For Men,293,70% off

# 9. top sheos from mytra apply color and price filter

In [147]:
driver.get('https://www.myntra.com/shoes')

In [148]:
# setting price filter to 5312 to 10475
price=driver.find_element_by_xpath("//ul[@class='price-list']/li[2]")

In [149]:
price.click()

In [150]:
#setting color filter to black
color=driver.find_element_by_xpath("//li[@class='colour-listItem']")

In [151]:
color.click()

In [152]:
#specifying url
myntra='https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5312.0_10475.0_5312.0%20TO%2010475.0'

In [153]:
# connecting webpage to be scrapped with web driver
driver.get(myntra)

In [154]:
#creating empty lists
brand=[]
description=[]
price=[ ]

In [155]:
#scapping brand
brand_tag=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")
brand_tag[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="3da7c2f2-d578-42fa-a6f6-5f8bf37ae70e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="473f3a59-c692-49f5-b4b4-acdbcc29aa35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="50fc8a03-8349-412b-b6b6-b9ae0d284a13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="ba3b5b1a-1e7d-4552-95d0-13cedce45c11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="c6680a67-fdc4-46d6-8e87-eae3657262c0")>]

In [156]:
for i in brand_tag:
    item=i.text
    brand.append(item)
    
brand[0:5]

['Nike', 'Puma', 'Nike', 'Nike', 'Nike']

In [157]:
len(brand)

50

In [158]:
# scrapping description
desc_tag=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4")
desc_tag[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="72c0481e-36b0-4d76-83fe-92fdce208edd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="95061095-71ff-4cb5-8e5f-5e1ecc082e58")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="edc22db4-aa93-4713-80b5-103e8e2b4c88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="0666b3e5-05f9-48e5-baa8-4b666e989f58")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="1aa9cfee-3910-469b-8775-d874c60153a7")>]

In [159]:
for i in desc_tag:
    item=i.text
    description.append(item)
    
description[0:5]

['AIR ZOOM PEGASUS Running Shoes',
 '',
 'Men HYBRID NETFIT Running Shoe',
 '',
 'Unisex PHANTOM Football Shoes']

In [160]:
description=description[0:100:2]

In [161]:
description[0:5]

['AIR ZOOM PEGASUS Running Shoes',
 'Men HYBRID NETFIT Running Shoe',
 'Unisex PHANTOM Football Shoes',
 'Men RENEW RUN 2 Running Shoes',
 'Women AIR ZOOM Running Shoes']

In [162]:
# scrapping price
price_tag=driver.find_elements_by_xpath("//span[@class='product-discountedPrice']")
price_tag[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="e67b0630-c83a-48da-ba5f-cc5af8dc4d69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="1661f2dd-c775-4dea-83ab-4d61e1e34a09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="f894543b-b3c3-4e3d-9fca-4c9dc7d61dc8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="1250a123-4739-435f-8b76-cc021d0589bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="89ce08905c555ae90a992167f59ec5a2", element="538e550a-511d-4f70-9266-70bef20cdd00")>]

In [163]:
for i in price_tag:
    item=i.text
    price.append(item)

price[0:5]

['Rs. 8621', 'Rs. 6599', 'Rs. 5996', 'Rs. 5756', 'Rs. 7996']

In [167]:
print(len(brand),len(description),len(price))

50 50 39

In [168]:
shoes=pd.DataFrame({})
shoes['Brand']=brand[0:39]
shoes['Description']=description[0:39]
shoes['Price']=price[0:39]

shoes

               Brand                        Description      Price
0               Nike     AIR ZOOM PEGASUS Running Shoes   Rs. 8621
1               Puma     Men HYBRID NETFIT Running Shoe   Rs. 6599
2               Nike      Unisex PHANTOM Football Shoes   Rs. 5996
3               Nike      Men RENEW RUN 2 Running Shoes   Rs. 5756
4               Nike       Women AIR ZOOM Running Shoes   Rs. 7996
5             ADIDAS       Men SOLAR DRIVE 19 M Running   Rs. 8399
6               Nike       Men Solid SKYVE MAX Sneakers   Rs. 6506
7               Nike       Men AIR MAX SEQUENT Sneakers   Rs. 5596
8               Nike      ZOOM FREAK 2 Basketball Shoes   Rs. 8236
9               Nike          Women RENEW Running Shoes   Rs. 5596
10              Nike         Men AIR ZOOM Running Shoes   Rs. 8236
11              Puma            Men Hydra Running Shoes   Rs. 6209
12      Hush Puppies  Men Solid Leather Formal Slip-Ons   Rs. 7996
13              Nike     Women PEGASUS 37 Running Shoes   Rs. 6635
14              Nike         Men AIR MAX EXCEE Sneakers   Rs. 5596
15              Nike            Women FLEX 2020 Running   Rs. 9236
16              Nike          Women REACT Running Shoes   Rs. 9746
17              Nike       Men KD13 EP Basketball Shoes   Rs. 5736
18              Nike          Men AIR MAX VG-R Sneakers   Rs. 6396
19              Nike            Women FREE RN 5.0 Shoes   Rs. 6396
20              Nike       Women AIR ZOOM Running Shoes   Rs. 5599
21              Nike       Men MID '77 VINTAGE Sneakers   Rs. 7999
22      Hush Puppies    Men Colourblocked Driving Shoes   Rs. 8799
23              Puma       LQDCELL Method Running Shoes   Rs. 6801
24      Hush Puppies  Men Solid Leather Formal Slip-Ons   Rs. 7996
25      Hush Puppies       Men Leather Slip-On Sneakers  Rs. 10399
26              Puma      Men SPEED 500 2 Running Shoes   Rs. 7499
27  ADIDAS Originals             Men Superstar Sneakers   Rs. 6269
28      Hush Puppies         Men Solid Slip-On Sneakers   Rs. 5399
29              Puma        Women Zone XT Running Shoes   Rs. 5436
30              Nike          Men AIR MAX VG-R Sneakers   Rs. 5399
31              Nike      Women AIR MAX VERONA Sneakers   Rs. 8796
32      Hush Puppies       Men Leather Slip-On Sneakers   Rs. 5736
33  ADIDAS Originals     Men Nite Jogger Fluid Sneakers   Rs. 6749
34            ADIDAS     Men ALPHATORSION Running Shoes   Rs. 6146
35    Tommy Hilfiger         Men Solid Leather Sneakers   Rs. 7693
36    Louis Philippe               Leather Formal Shoes   Rs. 9749
37              Nike               Men REPOSTO Sneakers   Rs. 5436
38             Ruosh           Men Formal Slip-On Shoes   Rs. 5949

# 10. scrapping first 10 laptops apply filter CPU (I7,I9)

In [174]:
driver.get('https://www.amazon.in/')

In [175]:
# searching for laptop
lap=driver.find_element_by_xpath("//div[@class='nav-search-field ']/input")

In [176]:
# passing the product name
lap.send_keys('Laptop')

In [177]:
#search button
search=driver.find_element_by_xpath("//div[@class='nav-search-submit nav-sprite']")

In [178]:
# click on search button
search.click()

In [179]:
# filtering for i7 processor
i7=driver.find_element_by_xpath("//li[@aria-label='Intel Core i7']")

In [180]:
i7.click()

In [181]:
# filering for i9 processor
i9=driver.find_element_by_xpath("//li[@aria-label='Intel Core i9']")

In [182]:
i9.click()

In [183]:
# specifying url to be scraped
url='https://www.amazon.in/s?k=Laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1613385432&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_17'

In [184]:
# connecting webpage to be scraped with web drivers
driver.get(url)

In [186]:
#creating empty lists
title=[]
price=[]

In [187]:
#scrapping of title
title_tag=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
title_tag[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="95dd3535714a127500e2920f677198fa", element="ce109310-822c-42a2-aaab-626ff751d2e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="95dd3535714a127500e2920f677198fa", element="8a051386-4307-47bd-bd23-32849b139b79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="95dd3535714a127500e2920f677198fa", element="2a114b59-6ae1-4e88-a7c7-324d55a943d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="95dd3535714a127500e2920f677198fa", element="50707f0c-4f66-4f2e-ab96-82a3d1f2b3c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="95dd3535714a127500e2920f677198fa", element="adc35c9e-eed4-4247-b26a-d6136d63d20b")>]

In [188]:
for i in title_tag:
    titl=i.text
    title.append(titl)
    
title[0:5]

['(Renewed) Dell Latitude E7270 12.5 inch Laptop (Core i7 6th Gen/8 GB (Up to 16)/256 GB SSD/Windows 10 Pro/MS Office/HD Display/Integrated Graphics)',
 '(Renewed) Dell Latitude E7270 12.5 inch Laptop (Core i7 6th Gen/16 GB/256 GB SSD/Windows 10 Pro/MS Office/HD Display/Integrated Graphics)',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AF+Webcam',
 '(Renewed) Lenovo ThinkPad X1 Carbon 14-inch Laptop Thin,Powerful and Lightweight Core i7 6th Gen/8GB /256 GB SSD/Windows 10 Pro/MS Office 2019/More than 4 GB Intel HD Graphics,Backlit Keyboard),Black',
 '(Renewed) Lenovo ThinkPad X1 Carbon 14-inch Laptop Thin,Powerful and Lightweight(Core i7 6th Gen/8GB /512 GB SSD/Windows 10 Pro/MS Office 2019/More than 4 GB Intel HD Graphics,Backlit Keyboard), Black']